
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Upload</title>
</head>
<body>
    
    <h2>Upload a Video</h2>
    {%csrf_token%}
    <form action="" method="post" enctype="multipart/form-data">
        <label for="videoFile">Choose a video file:</label>
        <input type="file" id="videoFile" name="videoFile" accept="video/*">
        <br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>